*{
    /* border: 1px solid red; */
    font-family: sans-serif;
} 

nav{
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 5px;
}

nav ul{
    display: flex;
    justify-content: space-around;
}

nav li{
    display: inline;
    list-style-type: none;
}

nav a:link{
    color: black;
    text-decoration: none;
}

nav a:visited{
    color:black;
}

.hero-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10%;
}

.hero-text{
    /* display: flex;
    flex-direction: column; */
}

.hero-image{
    height: 300px;
}

.benefits-section{
    background-color: lightgrey;
    padding-bottom: 200px;
}